<!DOCTYPE html>
<html>
   <head>
      <title>
         {{ page.title }}
      </title>
      <!-- META DATA -->
      <meta charset="utf-8" />
      <meta name="viewport" content = "width=device-width, initial-scale=1.0">
      <meta name="author" content="Emily Grace Ripka">
      {{ page.meta }}
      <!-- STYLESHEETS -->
      <link rel="stylesheet" type="text/css" href="/css/main.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
       integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   </head>
   <body>
      <div class='container-fluid'>
         <!--div class="row" style="border: none">
            <div class="col-sm-12" align="center">
               <img src="/static/general/siteMedia/img/banner.jpg" class="img-fluid"
		       alt="Emily Grace Ripka Banner" style="width:600px;">
            </div>
	 </div-->
         <ul class="nav justify-content-center">
            <li class="nav-item">
               <a class="nav-link active" href="/nano_NMR/">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/nano_NMR/blog/">Blog</a>
            </li>
         </ul>
         <div class="row col-centered text-center" style='border:none'>
	     <div class='col-sm-3' style='background:#f9f9f9;'>
	     </div>
             <div class="col-md">
	        {{ content }} 
             </div>
	     <div class='col-sm-3' style='background:#f9f9f9;'>
	     </div>
         </div>
	 <!--div class='row' style='background:#f9f9f9'>
	 </div-->
         <div class="footer" style='background:#f9f9f9'>
         </div>		 
      </div>
   </body>
</html>
