<!DOCTYPE html>
<html>
   <head>
      <title>
         {{ page.title }}
      </title>
      <link rel="stylesheet" type="text/css" href="/css/main.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
       integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   </head>
   <body>
      <nav>
         <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" href="/nano_NMR/" style="font-family:Lucida Console, Monaco, monospace;
                                                              color: #727FFF; ">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/nano_NMR/blog/" style="font-family:Lucida Console, Monaco, monospace;
                                                              color: #727FFF; ">Blog</a>
            </li>
         </ul>
         <!--ul>
            <li><a href="#">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/cv">CV</a></li>
            <li><a href="/blog">Blog</a></li>
         </ul-->
      </nav>
      <div class="container">
         {{ content }}
      </div>
      <div class='container-fluid'>
         <div class="row bg-light text-dark" style="border: none">
            <div class="col-sm-12 bg-light text-dark" style="background-color:#f9f9f9">
               <p style="font-family:Lucida Console, Monaco, monospace; color: #979797;">         <button type="button" class="btn btn-info">
                  <a href="https://www.linkedin.com/in/emily-grace-ripka-789ba8110/" style="color: #FFFFFF;">Linkedin</a>
                  </button>
                  <!--a href="#" class="fa fa-linkedin" style="padding: 20px; font-size: 30px; width: 50px; text-align: center; text-decoration: none; border-radius: 50%;
                   background: #3B5998i; color: white;"></a-->
                  <button type="button" class="btn btn-warning">
                  <a href="https://github.com/emilyripka?tab=overview&from=2018-10-01&to=2018-10-31" style="color: #000000">Github</a>
                  </button>
                  <button type="button" class="btn btn-success">
                  <a href="https://www.instagram.com/emilygraceripka/" style="color: #FFFFFF;">Instagram</a>
                  </button>
                  <button type="button" class="btn btn-danger">
                  <a href="https://www.youtube.com/channel/UCqmofJwr-mtDC2zwTQ8SloQ?view_as=subscriber" style="color: #FFFFFF;">Youtube</a>
                  </button>
               </p>
            </div>
         </div>
         <div class="row bg-light text-dark" style="border: none">
            <div class="col-sm-12 bg-light text-dark" style="background-color:#f9f9f9">
               <p style="text-align: left; font-family:Lucida Console, Monaco, monospace; color: #979797;">
                  <i>All thoughts and opinions are my own and do not reflect those of my institution.</i>
               </p>
            </div>
         </div>
      </div>
   </body>
</html>
