<!DOCTYPE html>
<html>
   <head>
      <title>
         {{ page.title }}
      </title>
      <link rel="stylesheet" type="text/css" href="/css/main.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
       integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   </head>
   <body>
      <nav>
         <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" href="/nano_NMR/" style="font-family:Lucida Console, Monaco, monospace;
                                                              color: #727FFF; ">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/nano_NMR/blog/" style="font-family:Lucida Console, Monaco, monospace;
                                                              color: #727FFF; ">Blog</a>
            </li>
         </ul>
         <!--ul>
            <li><a href="#">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/cv">CV</a></li>
            <li><a href="/blog">Blog</a></li>
         </ul-->
      </nav>
         <div class="container">
            {{ content }}
         </div>
   <footer>
      <ul>
         <li><a href="mailto:egyerdon@syr.edu">email</a></li>
         <li><a href="https://github.com/emilyripka">github.com/emilyripka</a></li>
      </ul>
   </footer>
   </body>
</html>
